@media only screen and (max-width: $mobile) {
  .header,
  .profile-menu {
    grid-template-columns: repeat((1, 1fr));
  }
  .folders {
    grid-template-columns: repeat((2, 1fr)) !important;
  }
}
@media only screen and (min-width: $mobile) and(max-width: $tablet) {
  .folders {
    grid-template-columns: repeat((4, 1fr)) !important;
  }
}

@media only screen and (min-width: $desktop) {
  .header,
  .profile-menu {
    grid-template-columns: repeat((2, 1fr));
  }

  .folders {
    grid-template-columns: repeat((6, 1fr));
  }
}
