.navbar {
  min-width: 280px;
  border-bottom: 1px solid $primary;
  color: $white;
  background-color: $secondary;
  padding: 16px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .left,
  .right {
    i {
      padding: 8px !important;
    }
  }
}

i {
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}

.account-dropdown {
  background-color: $secondary;
  position: absolute;
  height: fit-content;
  top: 80px;
  right: 25px;
  width: 250px;
  padding: 8px !important;
  border-bottom: 1px solid $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  div {
    display: flex;
    align-items: center;
  }
}
