.profile-link {
  margin-bottom: 16px !important;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  i {
    width: 50px;
    margin-right: 8px !important;
  }
  &:hover {
    color: $primary;
  }
}

.padding {
  padding: 16px !important;
}

.profile-menu {
  display: grid;
}
